body{
    color: #444;
    margin: 0;
    padding: 0;
    line-height: 150%;
}
 
header{

    width: 100%;
    height: 270px;
    margin: 0 auto;
    position: relative;
}

.head-title{
    padding: 20px;
    width: 300px;
    line-height: 210px;
    margin-left: 40px;
    letter-spacing: 5px;
    float: left;
    font-family: 'Anton', sans-serif;

}

header ul{
    float: right;
    position: absolute;
    bottom: 0;
    right: 50px;
}

header ul li{
    float: left;
    list-style: none;
    padding: 10px;
    margin-right: 15px;
    letter-spacing: 2px;
}

header ul li a{
    text-decoration: none;
    color: #444;
}

.site-width{
    width: 100%;
}
.main-pic{

    width: 100%;
    height: 420px;
    background: #f0eee9;
}



.profile,.portoforio{
    width: 920px;
    height: 540px;
    margin: 20px auto;
    transform:translateX(-50px);
    background: #f0eee9;
    padding: 40px;
    opacity:0;  
    transition:opacity 1s,transform 0.5s;
}

.profile-title,.works-title,.portoforio-title,.form-title{
    width: 100%;
    text-align: center;
    line-height: 30px;
    font-family: 'Anton', sans-serif;
    font-family: 'Oxygen', sans-serif;
    font-size: 32px;
    letter-spacing: 3px;
    margin: auto;
    margin-bottom: 20px;

}

.my-contentsu{
    display: flex;
    height: 100%;
}
.my-img{
    width: 340px;
    height: 80%;
    background: #444;
}

.my-history{
    width: 460px;
    height: 80%;
    padding: 30px;
    line-height: 28px;
    letter-spacing: 1px;
}

.skills{
    width: 920px;
    height: 540px;
    margin: 0 auto;
    padding: 40px;
    transform:translateX(50px);
    opacity:0;  
    transition:opacity 1s,transform 0.5s; 
}

form{
    width: 920px;
    height: 540px;
    margin: 0 auto;
    padding: 40px;
    transform:translateX(50px);
    opacity:0;  
    transition:opacity 1s,transform 0.5s;
    padding: 40px;
    text-align: center;
}

.skill{
    display: flex;
    justify-content: space-between;
}

.direction,.coding,.desine{
    margin-top: 20px;
    width: 30%;
    height: 400px;
    background: #00a0b0;
}


form input[type="text"],
input[type="tell"]{
    width: 60%;
    margin-bottom: 20px;
    height: 30px;
}

textarea{
    width: 60%;
    height: 150px;
}

input[type="submit"]{
    padding: 8px;
    width: 60px;
    background: #444;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    float: right;
    margin: 20px 190px 0 0;
}

#top{
    cursor: pointer;
    font-size: 12px;
    color: aliceblue;
    opacity: 0.8;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    border-radius: 50%;
    background: #00a0b0;
    z-index: 1;
    position: fixed;
    bottom: 0;
    right: 0;
}

/* 条件を満たしたあとに追加するクラス */
.fadein{
  opacity: 1;
  transform:translateX(0); 
}
