*{
    margin: 0;
    box-sizing: border-box;
}

body{
    color: #444;
    margin: 0;
    padding: 0;
    line-height: 150%;
}

:focus{
    outline: #00a0b0;
}
 /* ヘッダー部分>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
header{

    width: 100%;
    height: 270px;
    margin: 0 auto;
    position: relative;
}

.head-title{
    padding: 20px;
    width: 480px;
    line-height: 210px;
    margin-left: 40px;
    font-size: 38px;
    letter-spacing: 5px;
    float: left;
    font-family: 'Anton', sans-serif;
    position: relative;
    z-index: 2;

}



@keyframes main-img{
    0%{
        height: 0px;
    }
    100%{
        height: 420px;
    }
}

.inc{
    display: block;
    width: 110px;
    position: absolute;
    top: 1.2rem;
    left: 10px;
    z-index: 1;
    opacity: 0.8;
    animation-name: fadein;
    animation-duration: 2s;
}

header ul{
    float: right;
    position: absolute;
    bottom: 0;
    right: 50px;
}

header ul li{
    float: left;
    list-style: none;
    padding: 10px;
    margin-right: 15px;
    letter-spacing: 2px;
}

header ul li a{
    text-decoration: none;
    color: #444;
}

.site-width{
    width: 100%;
}
/* メイン画像>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.main-pic{
    box-sizing: border-box;
    width: 100%;
    height: 420px;
    background: #f0eee9;
    animation-name: main-img;
    animation-duration: 2s;
}



.profile,.portoforio{
    width: 920px;
    height: 670px;
    margin: 20px auto;
    transform:translateX(-50px);
    background: #f0eee9;
    padding: 40px;
    opacity:0;  
    transition:opacity 1s,transform 0.5s;
}

.profile-title,.works-title,.portoforio-title,.form-title{
    width: 100%;
    text-align: center;
    line-height: 30px;
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    letter-spacing: 3px;
    margin: auto;
    margin-bottom: 20px;

}
/* 各セクション＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞ */
.my-contentsu{
    display: flex;
    height: 100%;
}
.my-img{
    width: 340px;
    height: 80%;
    background: #444;
}

.my-history{
    width: 490px;
    height: 90%;
    padding: 15px;
    line-height: 28px;
    letter-spacing: 1px;
}

/* スキル＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞ */

.skills{
    width: 920px;
    height: 680px;
    margin: 0 auto;
    padding: 40px;
    transform:translateX(50px);
    opacity:0;  
    transition:opacity 1s,transform 0.5s; 
}

.skill{
    display: flex;
    justify-content: space-between;
}

.img-frame{
    width: 80%;
    height: 220px;
    background: #f0eee9;
    margin: 20px auto;
    text-align: center;
    padding: 5px;
    position: relative;
    
}

.frame-title{
    color: #505050;
    line-height: 1.0;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: Helvetica, '游ゴシック', 'Yu Gothic', 'YuGothic, HiraKakuProN-W3', 'メイリオ', 'Meiryo', sans-serif;
}

.img-frame h4{
    color: #505050;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-size: 15px;
}

.text{
    color: white;
    letter-spacing: 0.5px;
    font-size: 14px;
    font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;;
    
}

.img-frame img{
    width: 80%;
    line-height: 220px;
    margin: auto;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    
}

.marketing,.coding,.desine{
    margin-top: 20px;
    width: 30%;
    height: 440px;
    background: #00a0b0;
    position: relative;
    padding: 10px;
}

/* 制作実績＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞ */

.portoforio{
    height: 670px;
}

.work{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.work div{
    width: 250px;
    height: 200px;
    background: cornflowerblue;
    margin-bottom: 70px;
    position: relative;

}

.target{
    position: absolute;
    bottom: -25px;
}

.color-patern{
    position: absolute;
    bottom: -55px;

}
/* 子供向け配色 ＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞*/
.kid-img .box1{
    background: rgb(208, 64, 55);
}
.kid-img .box2{
    background: rgb(227, 165, 074);
}
.kid-img .box3{
    background: rgb(114, 180, 76);
}
.kid-img .box4{
    background: rgb(43, 152, 203);
}
.kid-img .box5{
    background: rgb(164, 70, 134);
}
/* 男性向け配色＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞ */
.man-img .box1{
    background: rgb(195, 29, 31);
}
.man-img .box2{
    background: rgb(223, 196, 166);
}
.man-img .box3{
    background: rgb(35, 104, 175);
}
.man-img .box4{
    background: rgb(38, 58, 92);
}
.man-img .box5{
    background: rgb(000, 000, 000);
}

/* 女性向け配色＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞ */
.woman-img .box1{
    background: rgb(192, 62, 93);
}
.woman-img .box2{
    background: rgb(184, 131, 161);
}
.woman-img .box3{
    background: rgb(166, 119, 106);
}
.woman-img .box4{
    background: rgb(213, 109, 122);
}
.woman-img .box5{
    background: rgb(140, 110, 168);
}


/* 高級感配色 ＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞*/
.seleb-img .box1{
    background: rgb(102, 80, 53);
}
.seleb-img .box2{
    background: rgb(120, 120, 120);
}
.seleb-img .box3{
    background: rgb(18, 39, 74);
}
.seleb-img .box4{
    background: rgb(52, 30, 14);
}
.seleb-img .box5{
    background: rgb(176,151, 97);
}

/* 和　配色 ＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞*/
.japan-img .box1{
    background: rgb(208, 64, 55);
}
.japan-img .box2{
    background: rgb(227, 165, 074);
}
.japan-img .box3{
    background: rgb(114, 180, 76);
}
.japan-img .box4{
    background: rgb(43, 152, 203);
}
.japan-img .box5{
    background: rgb(164, 70, 134);
}

/* 食欲配色 ＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞*/
.meet-img .box1{
    background: rgb(149, 100, 050);
}
.meet-img .box2{
    background: rgb(50, 100, 050);
}
.meet-img .box3{
    background: rgb(225, 180, 62);
}
.meet-img .box4{
    background: rgb(231, 135, 40);
}
.meet-img .box5{
    background: rgb(186, 027, 045);
}


.box1{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: lightcoral;
    position: absolute;
    bottom: -55px;
    right: 10px;
}
.box2{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: lightcyan;
    position: absolute;
    bottom: -55px;
    right: 35px;
}
.box3{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: lightgreen;
    position: absolute;
    bottom: -55px;
    right: 60px;
}
.box4{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: lightgreen;
    position: absolute;
    bottom: -55px;
    right: 85px;
}
.box5{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: lightgreen;
    position: absolute;
    bottom: -55px;
    right: 110px;
}




/* 問い合わせ＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞ */
form{
    width: 920px;
    height: 540px;
    margin: 0 auto;
    padding: 40px;
    transform:translateX(50px);
    opacity:0;  
    transition:opacity 1s,transform 0.5s;
    padding: 40px;
    text-align: center;
    position: relative;
    overflow: hidden;
    }


.email,.tell{
    display: inline;
    width: 120px;
    text-align: center;
    line-height: 40px;
    background: lightgray;
    border-radius: 5px;
    float: left;
    
}

.comment{
    border-radius: 5px;
    display: inline;
    width: 120px;
    text-align: center;
    line-height: 40px;
    background: lightgray;
    float: left;
  

}
/* フォーム入力エリア＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞ */

form input[type="email"],
input[type="tell"]{
    width: 60%;
    margin-bottom: 20px;
    height: 40px;
    box-sizing: border-box;
}

textarea{
    min-width: 60%;
    max-width: 62%;
    max-height: 150px;
}

.submit{
    width: 80%;
    height: 40px;
    margin: auto;
    position: relative;
    margin-top: 20px;
}

input[type="submit"]{
    padding: 8px;
    width: 70px;
    cursor: pointer;
    background: #444;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    right: 25px;
   
}

.text-count{
    width: 75%;
    margin: auto;
    text-align: right;
    
}

form label{
    box-sizing: border-box;
}

#top{
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    color: aliceblue;
    opacity: 0.8;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    border-radius: 50%;
    background: #00a0b0;
    z-index: 1;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

/* 条件を満たしたあとに追加するクラス */
.fadein{
  opacity: 1;
  transform:translateX(0); 
}

/* 花＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞＞ */

.tree{
    position: absolute;
    top: 230px;
    left: 50%;
  
    width: 3px;
    height: 40px;
  
    background-color: #8A5533;
    transform: translate(-50%,0);
  }
  
  /* 枝 */
  .tree div{
    position: absolute;
    bottom: 90%;
    left: 50%;
  
    width: 100%;
    height: 50%;
    border-radius: 100% 100% 0 0;
  
    background-color: #8A5533;
  
    animation: grow 3s linear forwards;
  }
  
  .tree div:nth-child(odd){
    transform-origin: right bottom;
    transform: translateX(-50%) rotate(-25deg) skewY(-10deg);
  }
  
  .tree div:nth-child(even){
    transform-origin: left bottom;
    transform: translateX(-50%) rotate(25deg) skewY(5deg);
  }
  
  .tree div:empty{
    box-shadow: 0 10px 2px 0 rgb(248, 42, 203) inset; 
  }
  
  /* 花 */
  .tree div:empty:after{
    content: "";
  
    position: absolute;
    bottom: 95%;
    left: 50%;
  
    width: 40px;
    height: 40px;
    border-radius: 50%;
  
    background-color: transparent;
    box-shadow: none;
    transform: translateX(-50%);
  
    z-index: 1;
  
    animation: flowering 2s 3s linear forwards;
  }
  
  @keyframes grow{
    from{
      height: 0;
    }
    to{
      height: 95%;
    }
  }
  
  @keyframes flowering{
    to{
      background-color: pink;
      box-shadow: 0 25px 50px 2px mistyrose;
    }
  }